img.main {
	margin-right: 1em;
	margin-top: 0.2em;
	margin-bottom: 1em;
}

img.th {
	margin-right: 0.2em;
	margin-bottom: 0.2em
}

figure {
	margin-left: 4em;
	margin-top: 1em;
}

div.navigation-bar, h1  {
	display: inline;
	font-size: 16pt;
}

div.copyright-notice {
	font-size: 11pt;
}

.next-link {
  width: 0px;
  height: 0px;
  border-bottom: 2em solid #F9F9F9;
  border-right: 2em solid #BBB;
  position: absolute;
  top: 0;
  right: 0;
  -moz-box-shadow: -4px 4px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: -4px 4px 4px rgba(0,0,0,0.1);
  box-shadow: -4px 4px 4px rgba(0,0,0,0.1);
}