body {
	abackground-color: green;
}

img.main {
  margin-right: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

figure {
  margin-left: 0.5em;
  margin-top: 0em;
}

div.navigation-bar, h1  {
	font-size: 12pt;
}

.next-link {
  display: none;
}