body {
	abackground-color: green;
}

img.main {
  margin-right: 0em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

figure {
  margin-left: 0em;
  margin-top: 0em;
}

div.navigation-bar, h1  {
	font-size: 12pt;
}
