Source: attic
Section: perl
Priority: optional
Maintainer: Dmitri Popov <operator@cv.dp-net.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Homepage: http://dp-net.com

Package: attic
Architecture: all
Depends: lighttpd, perl, perl-modules, libplack-perl, libxml-libxslt-perl, perlmagick, libimage-exiftool-perl, libconfig-inifiles-perl, libfcgi-perl, liblog-log4perl-perl, ufraw-batch, libxml-atom-perl 
Description: Basic framework for command-line experience
  Should be used as a base module for other stuff, so no more words here.
